.form-card
{
	width: 200px;
	margin: 0 auto;
}
body
{
	background-color: red;
	font: 14px sans-serif;
}
.wrapper{
	width: 350px; padding: 20px;
}

img {
  display: inline;
}
.like-btn + .comment-btn {
  border: none;
  height: 20px;
}
.additional_information {
  display: inline;
}